.formContainer {
    display: grid;
    place-items: center;
    position: relative;
}

.formContainerApp {
    display: grid;
    place-items: center;
    position: relative;
    padding: 24px 16px;
}

.formSection {
    width: 100%;
    border-radius: 16px;
    background: #FFF;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
}

.formBody {
    display: flex;
    flex-direction: column;
}

.formContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.formCardContainer {
    width: 100%;
    display: grid;
    place-items: center;
}

.formInfoCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.formRow {
    display: flex;
    gap: 16px;
    width: 100%;
}

.formHalfContent {
    width: 100%;
}

.formCheckboxContainer {
    display: flex;
    gap: 16px;
    align-items: center;
}

.formCheckbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    background-color: #fff;
    border: 1px solid #D0D6D4;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin: 0;
}

.formCheckbox:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    background-color: #fff;
    border: 1px solid #006241;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin: 0;
}

.formCheckbox:checked:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 10px;
    border: solid #006241;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-100%, -25%);
}

.formCheckboxLabel {
    color: #4C5552;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    user-select: none;
    text-align: left;
}

.buttonPrimary {
    color: #F5F7F6;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #006241;
    border: none;
    border-radius: 40px;
    width: 100%;
    cursor: pointer;
}

.buttonSecondary {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: none;
    background-color: transparent;
    color: #006241;
    width: 100%;
    cursor: pointer;
}

.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formControl {
    max-height: 56px;
    height: 56px;
    width: 100%;
    min-width: 100%;
    border: 1px solid #D0D6D4;
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    iframe {
        width: 100%;
    }

    >div {
        display: grid;
        place-items: center;
        width: 100%;
    }
}

.formError {
    border: 1px solid #C82014;
}

.inputLabel {
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    color: #64706C;
    font-weight: 600;
    text-align: left;
}

.inputErrorContainer {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0 8px;
    width: 100%;
}

.inputError {
    color: gray;
    animation: errorIn .3s ease forwards;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}

.blocked {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.38);
    z-index: 1;
}

.buttonDisabled {
    background-color: #F5F7F6;
    color: #ABB5B2;
    user-select: none;
    touch-action: none;
}