.cardSection {
  width: 361px;
  height: 150px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  perspective: 1000px;
}

.cardBody {
  backface-visibility: hidden;
  transition: transform 0.5s ease-in-out;
}

.cardBodyTop {
  height: calc(100% - 68.13px);
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  background-color: #f5f5f5;
}

.cardBodyBottom {
  height: 68.13px;
  width: 100%;
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(
      91deg,
      rgba(0, 0, 0, 0.2) 1.61%,
      rgba(32, 32, 32, 0.09) 47.29%,
      rgba(102, 102, 102, 0) 99.38%
    ),
    #c1c1c1;
}

.cardBodyResume {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 16px 16px 18px 16px;
  box-sizing: border-box;
  position: relative;
}

.cardNumber {
  text-shadow: 0px 1.287px 3.217px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.cardDate {
  color: #1c201e;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.aliasLabel {
  color: #d0d6d4;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

.cardOwner {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.cardBrandIconContainer {
  position: absolute;
  right: 16px;
  bottom: 18px;
  height: 26px;
  width: 38px;
}

//Color

.faVisa {
  background: linear-gradient(
      91deg,
      rgba(0, 0, 0, 0.2) 1.61%,
      rgba(32, 32, 32, 0.09) 47.29%,
      rgba(102, 102, 102, 0) 99.38%
    ),
    #1c33c3;

  .aliasLabel {
    color: #d0d6d4;
  }
}

.faMastercard {
  background: linear-gradient(
      91deg,
      rgba(0, 0, 0, 0.2) 1.61%,
      rgba(32, 32, 32, 0.09) 47.29%,
      rgba(102, 102, 102, 0) 99.38%
    ),
    #474747;

  .aliasLabel {
    color: #d0d6d4;
  }
}

.faAmex {
  background: linear-gradient(
      91deg,
      rgba(0, 0, 0, 0.2) 1.61%,
      rgba(32, 32, 32, 0.09) 47.29%,
      rgba(102, 102, 102, 0) 99.38%
    ),
    #bdcee5;

  .aliasLabel {
    color: #040504;
  }
}

.faDinersClub {
  background: linear-gradient(
      91deg,
      rgba(0, 0, 0, 0.2) 1.61%,
      rgba(32, 32, 32, 0.09) 47.29%,
      rgba(102, 102, 102, 0) 99.38%
    ),
    #147fbb;

  .aliasLabel {
    color: #d0d6d4;
  }
}

.imgCard {
  position: relative;
  overflow: hidden;
}

.imgCard::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-image: url("../Imgs/Holographic.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

@media (width < 480px) {
  .cardSection {
    width: 350px;
  }
}
